:root {
  --color-primary: #212121;
  --color-secondary: #2196f3;
  --color-thirdly: #757575;

  --color-white: #ffffff;

  --font-roboto-light: 400;
  --font-roboto-normal: 500;
  --font-roboto-bold: 700;
  --font-roboto-xbold: 900;

  --font-raleway-bold: 700;
}

/* Globals */

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.container {
  width: 73.125rem;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.accent {
  color: var(--color-secondary);
}

/* Navigation */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.logo {
  color: var(--color-primary);
  font-size: 1.625rem;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-raleway-bold);
  line-height: 1.9075rem;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  align-items: center;
  margin-left: 5.8125rem;
}

.nav ul li:not(:last-child) {
  margin-right: 2.875rem;
}

.nav-link {
  color: var(--color-primary);
  transition: color 150ms ease-in-out;
}

.nav-link:hover {
  color: var(--color-secondary);
}

.contact {
  display: flex;
}

.contact ul {
  display: flex;
  align-items: center;
}

.contact ul li:not(:last-child) {
  margin-right: 3.125rem;
}

.contact-link {
  color: var(--color-thirdly);
  transition: color 150ms ease-in-out;
}

.contact-link:hover {
  color: var(--color-secondary);
}

/* Hero */

.hero {
  background: url(../images/hero_slider.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 37.5rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  color: var(--color-white);
  font-size: 2.75rem;
  font-weight: var(--font-roboto-xbold);
  line-height: 3.75rem;
  letter-spacing: 0.08em;
  width: 43.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.875rem;
}

.hero-btn {
  color: var(--color-white);
  background-color: var(--color-secondary);
  font-size: 1rem;
  font-weight: var(--font-roboto-bold);
  line-height: 1.875rem;
  letter-spacing: 0.08em;
  border: 0;
  padding: 0.625rem 2.0625rem;
  border-radius: 0.312rem;
  cursor: pointer;
}
