:root {
  --color-primary: #212121;
  --color-secondary: #2196f3;
  --color-thirdly: #757575;
  --color-bg-dark: #2f303a;
  --color-bg-light: #f5f4fa;

  --color-white: #ffffff;

  --font-roboto-light: 400;
  --font-roboto-normal: 500;
  --font-roboto-bold: 700;
  --font-roboto-xbold: 900;

  --font-raleway-bold: 700;
}

/* Globals */

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.container {
  width: 73.125rem;
  margin-right: auto;
  margin-left: auto;
}

.container-mt {
  margin-top: 94px;
}

.container-mb {
  margin-bottom: 94px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  line-height: 42.19px;
  font-weight: var(--font-roboto-bold);
  margin-bottom: 50px;
}

.accent {
  color: var(--color-secondary);
}

/* Navigation */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.header-logo {
  color: var(--color-primary);
  font-size: 1.625rem;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-raleway-bold);
  line-height: 1.9075rem;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  align-items: center;
  margin-left: 5.8125rem;
}

.nav ul li:not(:last-child) {
  margin-right: 2.875rem;
}

.nav-link {
  color: var(--color-primary);
  transition: color 150ms ease-in-out;
}

.nav-link:hover {
  color: var(--color-secondary);
}

.contact {
  display: flex;
}

.contact ul {
  display: flex;
  align-items: center;
}

.contact ul li:not(:last-child) {
  margin-right: 3.125rem;
}

.header-contact-link {
  color: var(--color-thirdly);
  font-size: 14px;
  line-height: 1rem;
  font-weight: var(--font-roboto-normal);
  letter-spacing: 0.02em;
  transition: color 150ms ease-in-out;
}

.header-contact-link:hover {
  color: var(--color-secondary);
}

/* Hero */

.hero {
  background: var(--color-bg-dark);
  height: 37.5rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  color: var(--color-white);
  font-size: 2.75rem;
  font-weight: var(--font-roboto-xbold);
  line-height: 3.75rem;
  letter-spacing: 0.08em;
  width: 43.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.875rem;
}

.hero-btn {
  color: var(--color-white);
  background-color: var(--color-secondary);
  font-size: 1rem;
  font-weight: var(--font-roboto-bold);
  line-height: 1.875rem;
  letter-spacing: 0.08em;
  border: 0;
  padding: 0.625rem 2.0625rem;
  border-radius: 0.312rem;
  cursor: pointer;
}

/* About */

.about-content {
  display: flex;
  gap: 1.875rem;
}

.about-content-item h4 {
  font-size: 0.875rem;
  line-height: 1.025625rem;
  font-weight: var(--font-roboto-bold);
  margin-bottom: 0.8125rem;
}

.about-content-item p {
  color: var(--color-thirdly);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

/* What we do */

.what-we-do {
  text-align: center;
}

.what-we-do-content {
  display: flex;
  gap: 1.875rem;
}

/* Team */

.team {
  text-align: center;
}

.team-content {
  display: flex;
  gap: 30px;
}

.team-content-item h5 {
  font-size: 1rem;
  line-height: 18.75px;
  font-weight: var(--font-roboto-normal);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-content-item p {
  color: var(--color-thirdly);
  font-size: 1rem;
  line-height: 18.75px;
  margin-bottom: 30px;
}

.team-content-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Footer */

.footer {
  background-color: var(--color-bg-dark);
  display: flex;
  align-items: center;
}

.footer-content {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-logo {
  color: var(--color-white);
  font-size: 1.625rem;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--font-raleway-bold);
  line-height: 1.9075rem;
}

address {
  margin-top: 20px;
}

address ul li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-link {
  color: var(--color-white);
  opacity: 0.6;
}

.footer-contact-link a {
  color: var(--color-white);
  opacity: 0.6;
  font-size: 14px;
  line-height: 24px;
  font-weight: var(--font-roboto-normal);
  letter-spacing: 0.02em;
  transition: color 150ms ease-in-out;
}

.footer-contact-link a:hover {
  color: var(--color-secondary);
}

/* Portfolio filtr */

.portfolio-filtr-content {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.portfolio-filtr-content-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  color: var(--color-primary);
  font-size: 1rem;
  line-height: 26px;
  font-weight: var(--font-roboto-normal);
  letter-spacing: 0.03em;
  background-color: var(--color-bg-light);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--color-white);
  background-color: var(--color-secondary);
}

/* Portfolio content */

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio-content-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 150ms ease-in-out, background 150ms ease-in-out;
}

.portfolio-content-item:hover,
.portfolio-content-item:focus {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-content-item-link h4 {
  color: var(--color-primary);
  font-size: 1rem;
  line-height: 18.75px;
  font-weight: var(--font-roboto-normal);
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 24px;
}

.portfolio-content-item-link p {
  color: var(--color-thirdly);
  font-size: 1rem;
  line-height: 18.75px;
  margin-bottom: 30px;
  margin-left: 24px;
}

/*  */
